doctype html

html
    head
        title="Fusarium Finder"
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel="icon" href=process.env.FF_PATH + "images/favicon.ico")

        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet")
        //- link(href=process.env.FF_PATH + "external_stylesheets/dropzone-6.0.0.css" rel="stylesheet")
        link(href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet")

        
        link(href=process.env.FF_PATH + 'stylesheets/main.css' rel='stylesheet')
        link(href=process.env.FF_PATH + 'stylesheets/d3.css' rel='stylesheet')

        script(src=process.env.FF_PATH + "osd/openseadragon.min.js")

        script(src=process.env.FF_PATH + "external_javascripts/jquery-3.6.0.js")
        script(src=process.env.FF_PATH + "external_javascripts/d3.v4.js")
        //- script(src=process.env.FF_PATH + "external_javascripts/dropzone-6.0.0-min.js")
        script(src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js")
        //- script(src=process.env.FF_PATH + "external_javascripts/socket.io-4.5.0-min.js")
        script(src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js")

        script(src=process.env.FF_PATH + 'javascripts/home.js')
        script(src=process.env.FF_PATH + 'javascripts/common.js')
        script(src=process.env.FF_PATH + 'javascripts/modal.js')
        script(src=process.env.FF_PATH + 'javascripts/upload.js')
        script(src=process.env.FF_PATH + 'javascripts/canvas_overlay.js')
        script(src=process.env.FF_PATH + 'javascripts/class_count_chart.js')

    body
        div(id="container")

            include ./header.pug


            div(id="modal" class="modal")
                div(class="modal-content")
                    div(class="modal-header" id="modal_head")

                    div(class="modal-body" id="modal_body")

                    div(class="modal-footer")



            div(style="height: 8px")

            div(id="home_container")

                div(class="panel" style="min-width: 1000px;")

                    div(id="home_content_panel" class="content" style="display: block;")

                        table(style="height: 65px")
                            tr
                                td
                                    div(style="width: 165px; text-align: left")
                                        button(class="button-blue button-blue-hover" style="margin-left: 2px; padding: 2px; font-size: 12px; height: 25px; width: 25px" onclick="show_customize_overlays_modal()")
                                            i(class="fa-solid fa-palette") 
                                td(style="width: 50%")

                                td
                                    div(class="em-text" style="width: 100px") Image Set
                                td 
                                    div(style="width: 250px")
                                        //- select(id="image_set_combo" class="nonfixed_dropdown")
                                        select(id="image_set_combo" style="width: 250px;")

                                td
                                    div(style="width: 15px")
                                td
                                    div(style="width: 100px")
                                        button(class="button-blue button-blue-hover" style="margin: 4px 2px; width: 90px; border-radius: 5px; font-size: 14px;" type="button" id="upload_button")
                                            i(class="fa-solid fa-circle-plus" style="margin-right: 5px")
                                            |
                                            | Upload

                                
                                td(style="width: 50%")
                                td
                                    
                                    div(style="width: 165px")
                                        table(id="image_set_buttons_container" hidden)
                                            tr
                                                td
                                                    button(id="destroy_image_set_button" class="button-red button-red-hover" style="margin: 1px 0px; font-size: 12px; width: 140px")
                                                        i(class="fa-solid fa-circle-xmark" style="margin-right: 5px")
                                                        |
                                                        | Delete Image Set
                                            tr
                                                td
                                                    a(id="download_csv" class="button-blue button-blue-hover" style="margin: 1px 0px; font-size: 12px; width: 140px" download="result.csv")
                                                        i(class="fa-solid fa-file-arrow-down" style="padding-right: 5px")
                                                        |
                                                        | Download Result




                        div(id="image_set_message" hidden)
                        div(id="image_set_area" hidden)

                            table

                                tr
                                    td(class="dark-bg" style="vertical-align: top" id="left_panel")

                                        div(style="width: 280px;")

                                            div(id="non_nav_container")

                                                table(id="image_name_table")
                                                    tr
                                                        td(style="text-align: left")
                                                            h(class="em-text") Image

                                                        td(style="width: 100%; text-align: left; padding-left: 18px")
                                                            h(id="image_name" style="word-break: break-all; font-size: 14px")

                                            hr

                                            div(id="navigation_table_container" class="scrollable_area" style="height: 365px; width: 280px; border: none; overflow-y: scroll;")
                                                table(id="navigation_table")


                                            div(style="height: 10px")

                                            button(id="prev_image_button" class="button-blue button-blue-hover" style="font-size: 16px; width: 130px; border-radius: 30px 0px 0px 30px") 
                                                i(class="fa-solid fa-circle-chevron-left" style="padding-right: 5px")
                                                | 
                                                | Previous                                                 

                                            button(id="next_image_button" class="button-blue button-blue-hover" style="font-size: 16px; width: 130px; border-radius: 0px 30px 30px 0px; margin-left: -1px") Next 
                                                i(class="fa-solid fa-circle-chevron-right" style="padding-left: 5px")  


                                    td(style="width: 100%; position: relative; border-left: none; border-right: none" class="viewer" id="seadragon_viewer")

                                    td(class="dark-bg" style="vertical-align: top" id="control_panel")

                                        div(style="width: 280px")

                                            table 
                                                tr
                                                    td(style="text-align: left")
                                                        h(class="em-text" style="width: 80px") Fusarium 
                                                    td(style="text-align: right")
                                                        div(style="width: 70px" id="fusarium_percentage")
                                                    td(style="width: 100%")

                                            hr

                                            div(id="count_chart" style="height: 110px; width: 270px; border: none")

                                            hr

                                            table
                                                tr
                                                    td(style="text-align: left")
                                                        h(class="em-text" style="width: 110px") Visible Class
                                                    td(style="width: 100%")
                                                        select(id="pred_class_select" class="nonfixed_dropdown")

                                            table
                                                tr
                                                    td
                                                        div(style="width: 115px; text-align:left; margin: 2px 0px;" class="em-text") Show Image
                                                    td
                                                        label(class="switch")
                                                            input(id="image_visible_switch" type="checkbox" checked)
                                                            span(class="switch_slider round")
                                                    td(style="width: 100%")       
                                                tr
                                                    td
                                                        div(style="width: 115px; text-align:left; margin: 2px 0px;" class="em-text") Show Scores
                                                    td
                                                        label(class="switch")
                                                            input(id="scores_switch" type="checkbox")
                                                            span(class="switch_slider round")
                                                    td(style="width: 100%")

                                            hr(style="margin-top: 2px")


    script.
        let ff_path = !{JSON.stringify(ff_path)};
        let username = !{JSON.stringify(username)};
        let data = !{JSON.stringify(data)};

